.tache, .tacheshow {
    width: 80%;
    border-width: 0.5px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0.5px 0.5px 5px #ff6e77;
    margin: 20px;
}

.tacheshow {
    box-shadow: rgba(255, 110, 119, 0.4) 0px 2px 4px, rgba(255, 110, 119, 0.3) 0px 7px 13px -3px, rgba(255, 110, 119, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    position: relative;
    bottom: 2px;
}

.tache:hover {
    box-shadow: rgba(255, 110, 119, 0.4) 0px 2px 4px, rgba(255, 110, 119, 0.3) 0px 7px 13px -3px, rgba(255, 110, 119, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    position: relative;
    bottom: 2px;
    
}

.tacheWrapper{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s 0s ease, max-height 0.5s 0s ease;
}

.tacheWrappershow {
    filter: drop-shadow(0em 0em 5em);
    width: 100%;
    opacity: 1;
    max-height: 200px;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

ul {
    list-style: none;
}

.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

input:checked + label {
    text-decoration: line-through;
    font-style: italic;
}

.button-56 {
    align-items: center;
    background-color: #faebd7;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -1px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  

  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }

